<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Social Share</title>
    <link rel="stylesheet" href= "Style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>

</style>
</head>

<body>
    <div class="wrapper">
    <br><h1>Welcome to Social Share </h1>

    <div class="img-bgPic"></div>



    </div>



</body>
<body class="input">
        <br><br><h1>Create a new user</h1><br>
        
        <!-- <br><a href="QRstuff.html"> <button class="button" type="button">Submit</button></a> -->
        <form name="submit" action="app.py" method="create">
            Full Name:<br><input type="text" name="name"><br>
            Instagram:<br><input type="text" name="insta"><br>
            Snapchat:<br><input type="text" name="snap"><br>
            Twitter:<br><input type="text" name="twitter"><br>
            <br><input type="submit" value="Submit">
        </form>
    </body>
</html>